{% extends 'base.html.twig' %}

{% block title %}Oeuvre{% endblock %}

{% block body %}

<h3 class="text-center my-4"> Insérez votre tableau</h3>

<div class= "container mt-3 m-auto col-md-10 col-lg-6 my-3">
{{ form_start(form) }}
{{ form_widget(form) }}
    
    <p class="my-3"><a href="{{ path('footer_cdv') }}">Conditions de vente</a></p>
    <div class="text-end mt-3">
        <button class="secondbuttonitem">{{ button_label|default('Ajouter') }}</button>
    </div>
</div>
{{ form_end(form) }}

{#  #}
{# <input type="submit" value="Ajouter"> #}
{% endblock %}