{% extends 'base.html.twig' %}

{% block title %}details tableaux
{% endblock %}

{% block body %}
	<h1>Détail du tableaux :
	</h1>
	<main>
		<div class="container mt-4">
			<div class="row g-2 g-lg-5 d-flex justify-content-center">
				<div class="col-12 col-sm-11 col-md-8">
					<div class="card h-100">
						<img src="{{asset('images/' ~ tableau.image)}}" class="card-img-top" alt="Aperçu du tableau cheveaux sauvages">
						<div class="card-body">
							<h5 class="card-title">Titre:
								{{ tableau.titre }}</h5>
							<p class="auteur">Auteur:
								{{ tableau.auteur }}</p>
							<p>
								description :{{ tableau.description }}
							</p>
							<p class="card-text">
								Taille :
								{{tableau.longueur}}
								cm x
								{{tableau.largeur}}
								cm;
							</p>
							<p class="tecnique">Technique : Huile sur toile</p>
							<p class="priceunit">Prix :
								{{tableau.prix}}€</p>
							<div class="buttonBuy">
								{% if app.user %}
									<a href="{{path('add_panier',{'id': tableau.id} ) }}"><input class="favorite styled" type="button" value="Acheter"></a>
								{% else %}
									<a href="{{ path('app_login') }}"><input class="favorite styled" type="button" value="Acheter"></a>
								{% endif %}
								<a href="{{ path('vitrine') }}"><input type="button" value="retour"></a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </main>
			{% endblock %}
