{% extends 'base.html.twig' %}

{% block title %}Images{% endblock %}

{% block body %}
    <h2 class="text-center my-4">Détails de l'image</h2>
<div class="container col-8 col-lg-4">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ image.auteur }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ image.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ image.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src ="{{ asset('images/' ~ image.image) }}" style ="width:70px" ></td>
            </tr>
        </tbody>
    </table>

<div class="text-end" >
        
            <a href="{{ path('dash_images') }}"><button class="firstitem fs-5">Retour</button></a>

        </div>
    {{ include('oeuvre/_delete_formimage.html.twig') }}
</div>
{% endblock %}
