{% extends 'base.html.twig' %}

{% block title %}Dashboard Category{% endblock %}

{% block body %}
<div class= "container">
<h5>Ajouter des thèmes</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
  {% for item in liste_category %}
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.name}}</td>
      <td>{{item.info}}</td>
    </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.info) }}
        <input type="submit" value="Ajouter" class="mt-2 btn btn-success">
{{ form_end(form) }}
</div>
{% endblock %}