{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<h4 class="text-center mb-5 mt-3 ms-5">Liste des catégories</h4>
<div class="container mt-auto d-none d-md-flex">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Info</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr ="row">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.info }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}"><i class="far fa-eye me-1"></i></a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune catégorie insérée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center text-md-start">
    <a href="{{ path('category_new') }}"><button class="secondbuttonitem ms-5" >Ajouter</button></a>
</div>

<div class="container mt-auto d-md-none">
    <table class="table">
        {% for type in categories %}
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ type.name }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ type.info }}</td>
            </tr>
            <tr>
                <th>actions</th>
                <td><a href="{{ path('category_edit', {'id': type.id}) }}"><i class="fas fa-edit me-2"></i></a>
                    <a href="{{ path('category_delete', {'id': type.id}) }}"><i class="fas fa-trash"></i></a>
                </td>
            <tr>
        </tbody>
        {% else %}
            <tr>
                <td colspan="4">Aucune catégorie insérée</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
