{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<h2 class="text-center mb-5 mt-3">Liste des catégories</h2>
 <div class="text-center text-md-end me-5">
    <a href="{{ path('category_new') }}"><button class="secondbuttonitem me-5" >Ajouter</button></a>
</div>

    <div class="container mt-auto mb-5 d-none d-md-flex">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Info</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr ="row">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.info }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}"><i class="far fa-eye fs-5 me-2"></i></a>
                    <a href="{{ path('category_delete', {'id': category.id}) }}"><button class="btn alert alert-danger p-1"><i class="fas fa-trash "></i></button></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune catégorie insérée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="container mt-auto d-md-none mb-5">
    <table class="table">
    {# attention à cause l'include delete et du controlleur delete-category, il faut reprendre dans bouble category #}
        {% for category in categories %}
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ category.info }}</td>
            </tr>
            <tr>
                <th>actions</th>
                <td>
                    <a href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-edit mx-2 fs-5"></i></a>
                    <a href="{{ path('category_delete', {'id': category.id}) }}"><button class="btn alert alert-danger p-1"><i class="fas fa-trash "></i></button></a>
                </td>
            <tr>
        </tbody>
        {% else %}
            <tr>
                <td colspan="4">Aucune catégorie insérée</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
