
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}



<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-compte" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Mon compte</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profil" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Mes tableaux</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Mes achats</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-compte" role="tabpanel" aria-labelledby="nav-home-tab">Mon profil</div>
  <div class="tab-pane fade" id="nav-profil" role="tabpanel" aria-labelledby="nav-profile-tab">mes commandes
{% if user.Tableauxuser %}

{{ user.Tableauxuser | length}}

{% for row in user.Tableauxuser %}
    
    {{ row.id }}
    {{ row.titre }}
    {{ row.auteur }}
    {{ row.prix }}
    
    {{ row.image }}
  
    {% else %}
      <p> Vous n'avez pas encore inseré de tableau </p>
  
{% endfor %}
{% endif %}
</div>


  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">mes achats
  {# {{ user.Commandes | length}} #}
 
 {% for row in user.Commandes %}
 <p>Commande numéro : {{ row.id }}</p>
<p> Total commande :{{ row.total }}</p>
<p>{{ row.dateCommande|date("m/d/Y") }}</p>
<h6> Détail des commandes : </h6>
  {% for item in row.detailCommandes %}
  <p> Titre du tableau acheté: {{ item.titre }}</p>
    
  {% endfor %}

 

   {% endfor %} <pre>
   
</div>




</div>

{% endblock %}