{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
{{ user.Tableauxuser | length}}

{% for row in user.Tableauxuser %}
    <p> voici mon premier tableau</p>
    {{ row.id }}
    {{ row.titre}}
    {# {{ row.prix }} #}
    {{ row.image}}
    {# {{ row}} #}
    {# {{row.user.adresse}} #}
    {# {{ row}} #}
{% endfor %}
{# {{ user.Commandes | length}}

{% for row in user.Commandes %}

    
{% endfor %} #}
{% endblock %}
