{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
{{ user.Commandes | length}}

{% for row in user.Commandes %}
    <p> voici mon premier tableau</p>
    {{ row.id }}
    {{ row.adresse }}
    {{ row.date_commande }}
    {{ row.user.auteur}}
    {# {{ row.image}} #}
    {# {{ row}} #}
    {# {{row.user.adresse}} #}
    {# {{ row}} #}
{% endfor %}

    

{% endblock %}
