{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

<div class="container col-10"
{% if user.Tableauxuser %}

{{ user.Tableauxuser | length}}
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Auteur</th>
                <th>prix</th>
            </tr>
        </thead>
        <tbody>
{% for row in user.Tableauxuser %}
    <tr>
    <td>{{ row.id }}</td>
    <td>{{ row.titre }}</td>
    <td>{{ row.image }}</td>
    <td>{{ row.auteur }}</td>
    <td>{{ row.prix }}</td>
    
    </tr>
  
    {% else %}
      <p> Vous n'avez pas encore inseré de tableau </p>
  
{% endfor %}
</tbody>
{% endif %}

{# {{ user.Tableauxuser | length}}

{% for row in user.Tableauxuser %}
    <p> voici mon premier tableau</p>
    {{ row.id }}
    {{ row.titre}}
    {# {{ row.prix }} #}
    {# {{ row.image}} #}
    {# {{ row}} #}
    {# {{row.user.adresse}} #}
    {# {{ row}} #}
{# {% endfor %} #}
{# {{ user.Commandes | length}}

{% for row in user.Commandes %}

     #}
{% endfor %} 
{% endblock %}
