{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

 {# {% for slide in carousel %} #}
    {# {% if slide.id == 5 %}
    <p>bravo!</p></a>
    <a href = "{{slide.lien}}"><button class="firstitem ">Art Graphique</button></a>
    
    {% endif %} #}
{# {% endfor %} #}
 
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
  
{% for slide in carousel %}

    {% if slide.indice == 1 %}
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset( 'images/' ~ slide.image ) }}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <a href = "{{slide.lien}}"><button class="firstitem ">Art Graphique</button></a>
                <h4> {{slide.titre}} </h4>
                <p> {{ slide.description}}</p>
            </div> 
        </div>
    {% else %}
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset( 'images/' ~ slide.image ) }}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <a href = "{{slide.lien}}"><button class="firstitem ">Art Graphique</button></a>
                <h4> {{slide.titre}} </h4>
                <p> {{ slide.description}}</p>
            </div> 
        </div>
    {% endif %}

{% endfor %}



{# <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal --> #}
{# <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> #}
  
{# </div> #}


  
   
    
      {# <img class="d-block w-100" src="{{ asset('images/picturehome2.jpg') }}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <a href="{{path('vitrine') }}"><button class="firstitem ">Art Graphique</button></a>
            <div class="textcaption">
                <h4> Découvrez notre galerie virtuelle </h4>
                <p> et ses tableaux à des prix accessibles ! </p>
            </div>
        </div>    
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/fantaisyhome.jpg') }}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <a href="images.html"><button class="firstitem">Art Numérique</button></a>
            <div class="textcaption">
                <h4> Contemplez les créations numériques 2D et 3D </h4>
                <h6> La plateforme des publicistes, designers, graphistes... </h6>
            </div>
        </div>
    </div>
    
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/secondehome.jpg') }}" alt="Third slide">
    </div> #}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
Image par <a href="https://pixabay.com/fr/users/gdj-1086657/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4877717">Gordon Johnson</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4877717">Pixabay</a>
           {# <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ asset('images/picturehome2.jpg') }}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/secondehome.jpg') }}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ asset('images/fantaisyhome.jpg') }}" alt="Third slide">
    </div>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    {# <span class="visually-hidden">Previous</span> #}
                {# </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span> #}
                    {# <span class="visually-hidden">Next</span> #}
                {# </button> #}

  {# <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> #}

{# {{ user.Commandes | length}}

{% for row in user.Commandes %}
    <p> voici mon premier tableau</p>
    {{ row.id }}
    {{ row.adresse }}
    {{ row.date_commande }}
    {{ row.user.auteur}} #}
    {# {{ row.image}} #}
    {# {{ row}} #}
    {# {{row.user.adresse}} #}
    {# {{ row}} #}
{# {% endfor %} #}
{# {{ user.Commandes | length}}

{% for row in user.Commandes %}

    
{% endfor %} #}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mafenetre">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="mafenetre" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}
{# {% if app.user %}
				<div class=" alert alert-danger mb-5 text-center">
					<p>
						Vous êtes déjà connecté en tant que
						{{ app.user.username }}.</p>
					<p>
						Souhaitez-vous vous déconnecter ?
					</p>
					<a href="{{ path('app_logout') }}">
						<button class="secondbuttonitem">Oui</button>
					</a>
				</div>
			{% else %}
				<h1 class="h3 my-3 font-weight-normal">Please sign in</h1>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword" class="mt-3">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" #}