{% extends 'base.html.twig' %}

{% block title %}details
{% endblock %}

{% block body %}
	<h1 class="text-center my-5">Détail du tableau :
	</h1>
	<main>
		<div class="container mt-4">
			<div class="row g-2 g-lg-5 d-flex justify-content-center">
				<div class="col-11 col-md-8 col-lg-6">
					<div class="card h-100">
						<img src="{{asset('images/' ~ tableau.image)}}" class="card-img-top" alt="Aperçu du tableau cheveaux sauvages">
						<div class="card-body">
							<h5 class="card-title">Titre:
								{{ tableau.titre }}</h5>
							<p class="auteur"><strong>
								{{ tableau.auteur }}</strong></p>
							<p>
								Description : {{ tableau.description }}
							</p>
							<p class="card-text">
								Taille :
								{{tableau.longueur}}
								cm x
								{{tableau.largeur}}
								cm;
							</p>
						<p class="tecnique">Technique : {{ tableau.technique.nom }} </p> 
							{% if tableau.vendu == true %}
								<p>Désolé, ce tableau est déjà vendu</p>
								{% else %}
								<p class="priceunit">Prix :
									{{tableau.prix}}€</p>
								<div class="buttonBuy">
								{% if app.user %}
									<a href="{{path('add_panier',{'id': tableau.id} ) }}"><input class="secondbuttonitem" type="button" value="Acheter"></a>
								{% else %}
									<a href="{{ path('app_login') }}"><input class="secondbuttonitem" type="button" value="Acheter"></a>
								{% endif %}
								<a href="{{ path('vitrine') }}"><input type="button" class="firstitem p-1" value="Retour"></a>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </main>
{% endblock %}
