{% extends 'base.html.twig' %}

{% block title %}Tva index{% endblock %}

{% block body %}
 <div class="container col-8 col-md-6 col-lg-4">
    <h1>Tva index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tva</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tva in tvas %}
            <tr>
                <td>{{ tva.id }}</td>
                <td>{{ tva.tva }}</td>
                <td>
                    <a href="{{ path('tva_edit', {'id': tva.id}) }}">modifier</a>
                    <a href="{{ path('tva_delete', {'id': tva.id}) }}">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune TVA</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button> <a href="{{ path('tva_new') }}">Ajouter</a></button>
</div>
{% endblock %}
