{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<h2 class="text-center mb-5 mt-3 ms-5">Liste des utilisateurs</h2>

<div class="container mt-auto mb-5 d-none d-md-flex">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Adresse</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.banni == false %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>

                <td>{% for role in user.roles %}
                        {% if role == "ROLE_ARTIST" %}Artiste
                        {% endif %}
                    {% endfor %}
                </td> 
                
                <td>{{ user.adresse }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><i class="far fa-eye me-2"></i></a>
                    <a href="{{ path('user_bannir',{'id': user.id}) }}"><button class="secondbuttonitem " >Bannir</button></a>
                </td>
                {% endif %}
                    {% else %}
                    <tr>
                        <td colspan="9">Aucun utilisateur enregistré</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table> 
    </div>
    <div class="container mt-auto mb-5 d-md-none d-flex">
    <table class="table">
        {% for user in users %}
            {% if user.banni == false %}

            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>    
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>   
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>   
                <th>actions</th>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><i class="far fa-eye me-2"></i></a>
                    <a href="{{ path('user_bannir',{'id': user.id}) }}"><button class="secondbuttonitem " >Bannir</button></a>
                </td>
            </tr>
            {% endif %}
                {% else %}
                    <tr>
                        <td colspan="9">Aucun utilisateur enregistré</td>
                    </tr>
    {% endfor %}
        </tbody>
       </table> 
   </div>
    <h2 class="text-center mb-5 mt-3 ms-5">Liste des utilisateurs bannis</h2>

    <div class="container mt-auto mb-5 d-none d-md-flex">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userban in users %}
                {% if userban.banni == true %}

            <tr>
                <td>{{ userban.id }}</td>
                <td>{{ userban.email }}</td>
            
               <td>{{ userban.nom }}</td>
                <td>{{ userban.prenom }}</td>
                <td>
                    <a href="{{ path('user_delete', {'id': userban.id}) }}"><button class="btn alert alert-danger p-2"><i class="fas fa-trash "></i></button></a>
                </td>
            </tr>
                {% endif %}
        {% endfor %}
        </tbody>
       </table> 
   </div>
   <div class="container mt-auto mb-5 d-md-none d-flex">
    <table class="table">
        {% for userban in users %}
            {% if userban.banni == true %}

            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userban.id }}</td>
            </tr>
            <tr>    
                <th>Email</th>
                <td>{{ userban.email }}</td>
            </tr>
            <tr>   
                <th>Nom</th>
                <td>{{ userban.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ userban.prenom }}</td>
            </tr>
            <tr>   
                <th>actions</th>
                <td>
                    <td>
                    <a href="{{ path('user_delete', {'id': userban.id}) }}"><button class="btn alert alert-danger p-2"><i class="fas fa-trash "></i></button></a>
                </td>
                </td>
            </tr>
            {% endif %}
                {% else %}
                    <tr>
                        <td colspan="9">Aucun utilisateur enregistré</td>
                    </tr>
    {% endfor %}
        </tbody>
       </table> 
   </div>
{% endblock %}
